.input-section {
  background-color: #faf2fa;
  margin: 20px 0;
  border: 2px dotted green;
  padding: 20px 30px;
}
.data-section {
  background-color: azure;
  margin-bottom: 20px;
  border: 2px dashed green;
  padding: 30px;
}
.add-btn {
  margin: 20px 0;
  text-align: center;
}

.flip-card {
  background-color: transparent;
  height: 95px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: 0 0 20px 0;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  /* background-color: #eaeaea; */
  background-image: linear-gradient(mediumspringgreen, mediumseagreen);
  color: black;
  border-radius: 5px;
}

/* Style the back side */
.flip-card-back {
  /* background-color: #636363; */
  background-image: linear-gradient(lavender, plum);
  color: rgb(49, 49, 49);
  font-weight: bold;
  transform: rotateY(180deg);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
